<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">
<link th:href="@{/css/navbar.css}" rel="stylesheet">
<link th:href="@{/css/pages.css}" rel="stylesheet">
<link th:href="@{http://fonts.googleapis.com/css?family=Poppins}"
	rel='stylesheet' type='text/css' />
<style>
body {
	font-family: 'Poppins', serif;
	font-size: 11pt;
}
</style>
<title>Nuovo ingrediente</title>
</head>
<body>

	<header th:replace="fragments/base.html :: navbar"></header>

	<div class="page-content container-fluid">

		<div class="row" style="height: 100%">

			<div class="col-3 left-side-container">
				<h4 class="form-title">Aggiungi un nuovo ingrediente</h4>
			</div>

			<div class="col-9 right-side-container">

				<form th:action="@{/admin/ingrediente}" method="POST"
					th:object="${ingrediente}" class="w-100">

					<div th:if="${#fields.hasGlobalErrors()}">
						<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
					</div>

					<div>

						<div class="form-field">
							<label class="form-label">Nome</label>
							<div>
								<input th:field="*{nome}" type="text" class="w-50" />
							</div>
							<span class="error-text" th:if="${#fields.hasErrors('nome')}"
								th:errors="*{nome}"> </span>
						</div>

						<div class="form-field">
							<label class="form-label">Descrizione</label>
							<div>
								<input th:field="*{descrizione}" type="text" class="w-50" />
							</div>
							<span class="error-text"
								th:if="${#fields.hasErrors('descrizione')}"
								th:errors="*{descrizione}"></span>
						</div>

						<div class="form-field">
							<label class="form-label">Origine</label>
							<div>
								<input th:field="*{origine}" type="text" class="w-50" />
							</div>
							<span class="error-text" th:if="${#fields.hasErrors('origine')}"
								th:errors="*{origine}"></span>
						</div>

					</div>

					<div>
						<span><button type="submit">Aggiungi</button></span>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>